body{
  background-image:url("https://i.pinimg.com/736x/2f/76/b2/2f76b2ab053b7e9bf67f38f268955cb6.jpg");
  /* background-image:url("https://i.pinimg.com/736x/89/c6/c1/89c6c104a986c73e8166fd9a048ceb13.jpg"); */
  background-size:cover;
  
}
.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}
.layout-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
.banner,.links, .company, .nav-link, .search{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  padding: 5px;
}
/* ------------------------------NAVBAR FORMATTING -------------------------------*/
/*holds the entire navbar- with starbucks logo, name, and tabs*/
.banner{
  width: 94%;
}

/*to hold the company name next to nav link tabs*/
.company{
  flex: 0.3;
  font-family:"Spicy Rice";
  font-size:18px;
  color:rgb(253, 253, 253);
  letter-spacing: 3px;
  text-shadow: 12px 6px 4px  #137e2e;
  padding: 15px 5px;
  margin: 0px 10px;
  width: 20%;
  
}
/* for the container to hold nav link tabs*/
.links{
  flex: 1;
  width: 100%;
  padding: 2px;
  height: 120px;
}
/* for the nav links themselves*/
.nav-link{
  background-color: rgb(69, 167, 69);
  flex: 1;
  flex-direction: column;
  margin: 0px 7px;
  height: 90px; 
  max-width: 150px;
  border-radius: 50% 50%  12px 12px;
  font-family:"Spicy Rice";
  font-size: 15px;
  padding: 5px;
  cursor:pointer;
  text-decoration: none;
}
.nav-link:hover{
  height: 110px;
  transition: 0.3s ease all;
  background-color: green;
  color:whitesmoke;
}
/*nav buttons pictures*/
.icon{
  width: 50%;
}
.icon img{
  width: 100%;
}

/* formatting for logo*/
.logo{
  width: 8%;
}
.logo img{
  width: 100%;
}

/* ------------------------------NAVBAR MOBILE -------------------------------*/
.nav-mobile {
  width: 100%;
  position: relative;
  z-index: 100;
}

.nav-mobile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
  position:relative;
}
.nav-mobile .company{
  padding: 5px;
  width:100%;
  color: rgb(182, 243, 193);
  letter-spacing: 0.4rem;
  font-size: 18px;
  
}

.nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button button.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color:whitesmoke;
}

.nav-options-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 450px;
  background-color: #e8ffe8;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align:center;
}

.nav-options-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-options-dropdown li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.nav-options-dropdown li:hover{
  background-color: #137e2e;
}
.nav-options-dropdown li:hover .mobile-link{
  color:whitesmoke;
}

.mobile-link {
  text-decoration: none;
  color: #137e2e;
  font-family: "Spicy Rice";
  font-size: 16px;
}

/*  ------------------------------NAVBAR BIG MOBILE -------------------------------*/
#big-mobile-header .company{
  width: 80%;
}
#big-mobile-header .logo{
  width: 20%;
}
#big-mobile-header img{
  width: 100%;
  height: 80px;
}

/*  ------------------------------SIDEBAR FORMATTING -------------------------------*/
.main-sidebar, .sidebar-2{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  padding: 4px;
  margin: 5px 0px;
}
/* formatting for the sidebar list boxes and elements*/
.topic, .topic-links, .topic-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6px;
  width: 100%;
  border-radius: 8px;
}
.topic{
  background-color: rgb(69, 167, 69);
}
.topic-banner h2, .topic-banner h3{
  margin: 8px 3px 3px 3px;
  color:rgb(161, 23, 143);
}
.topic-banner h2 a{
  text-decoration: none;
  color:rgb(161, 23, 143);
  
}
/*for the about section*/
.topic-links{
  padding: 5px;
  font-size: 15px;
  margin: 0;
}
.topic-links a{
  color: rgb(7, 80, 7);
  padding: 6px;
  width:100%;
  text-align: center;
}
/* for nonlinks section*/
.topic-list ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  margin:0;
}
.topic-list li {
  position:relative;
  right: 15%;
  width: 100%;
  text-align:center;
  margin: 4px 0px;
  padding: 4px;
  font-size: 14px;
}

/*holds main sidebar, children, right sidebar in layout*/
.content-main{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 95%;
}

/*  ------------------------------HOME FORMATTING -------------------------------*/
.main-content{
  display:flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 16px 0px;
  background-color: whitesmoke;
  border-radius: 6px;
}
/* formatting for main-1 and main-2, individually*/
.main{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  width: 50%;
}
/* for the "article" elements */
.content-block{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  padding: 5px;
  margin: 7px 0px;
}
.content-title h3{
  font-size: 24px;
}
.content-desc{
  padding: 4px;
}
/* formatting for the "article" images*/
.content-img{
  width: 100%;
  height: 250px;
}
.content-img img{
  width:100%;
  height:100%;
}

/*  ------------------------------ADVERTISEMENT FORMATTING -------------------------------*/
.landscape-container{
  width: 100%;
  height: 250px;
}
.landscape-container img{
  width:100%;
  height:100%;
}
/*formatting for ad container with title*/
.ad-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.ad-container .portrait-container{
  width: 100%;
}
.ad-container .portrait-container img{
  width: 100%;
}
/*formatting for the sidebar ads*/
.portrait-container{
  height: 300px;
  width: 100%;
}
.portrait-container img{
  width:100%;
  height:100%;
}


/*  ------------------------------MENU FORMATTING -------------------------------*/
.content{
  width: 100%;
}
.menu-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}


/*formatting for menu items*/
.item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 9px;
  /* margin: 10px; */
  width: 100%;
  background-color: whitesmoke;
  border: 2px solid purple;
  border-radius: 8px;
  min-height:320px;
  height:auto;
  max-height: 520px;
  text-align:center;
  box-sizing:border-box;
}
#job{
  min-height:400px;
  height:auto;
  max-height: 650px;
}
#job .item-name, #job .item-d, #job .item-img{
  width: 100%;
}
#job .item-img{
  width: 70%;
  height: 80%;
}
#job .item-img img{
  width: 100%;
  height: 100%;
}
#job .item-d{
  padding: 6px;
}
.item-name{
  margin-top: 8px;
}
.item-name h3{
  margin:0;
}
.item-price{
  font-size: 20px;
  font-weight: 650;
  color:purple;
}

.item-d{
  font-size: 17px;
  width: 100%;
}

.item-img img{
  width: 120px;
  height: 120px;
}

.item-button, .redirect{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 25px;
  height: 60px;
  font-family:"Spicy Rice";
  font-size: 20px;
  padding: 4px;
  margin-top: 5px;
  background-color: purple;
  border: 1px solid whitesmoke;
  text-decoration:none;
  cursor:pointer;
  text-align:center;
}
.item-button a, .redirect a{
  text-decoration: none;
  color:whitesmoke;
  width:100%;
}

.redirect{
  position:relative;
  left: 25%;
  margin: 36px 0px;
}



/* formatting for multiple sections of menu items on page*/
#careers .subcontent{
  margin-top: 20px;
}
.subcontent{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.subcontent .title{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.subcontent .title h2 a{
  text-decoration:none;
  color:whitesmoke;
}
.subcontent .title h2 a:hover{
  text-shadow: 12px 3px 4px  rgb(10, 179, 80);
}
.subcontent .title h2, .origins-title h2, .donations-title h2, .communities-title h2, .error-title h2{
  font-family:"Spicy Rice";
  color:whitesmoke;
  letter-spacing: 2.5px;
  text-shadow: 12px 3px 4px  rgb(121, 3, 121);
  font-size: 35px;
  margin:0;
}
.origins-title h2, .donations-title h2, .communities-title h2, .error-title h2{
  margin-bottom: 25px;
}

/* formatting for origins, food donation page*/
#origins-container, #donations-container{
  background-color: transparent;
  padding: 4px;
}
#origins, #donations, #communities{
  width: 95%;
}
.origins-content, .donations-content, .communities-content{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background-color: whitesmoke;
}
.communities-content{
  border-radius: 25px;
}
.origins-img, .donations-img{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.origins-img img, .donations-img img{
  width: 90%;
  height: 90%;
}
.origins-text, .donations-text, .communities-text{
  padding: 8px 10px;
  border-radius: 24px;
  width: 90%;
  text-align: center;
  font-size: 17px;
}
.donations-text, .communities-text{
  padding: 3px;
}
.donations-img{
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.communities-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.communities-photos{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.comserv-container{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px;
  padding: 8px 0px;
}
.comserv-img{
  width: 100%;
  position:relative;
  left: 8%;
}
.comserv-img img{
  width: 80%;
}
.comserv-caption{
  padding: 4px;
  width: 60%;
}
.comserv-caption p{
  text-align:center;
  font-size: 15px;
  font-style:italic;
}
.comserv-city h2{
  margin: 10px;
  font-family:"Spicy Rice";
  letter-spacing: 0.5rem;
  font-style:italic;
}

#error{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  width: 80%;
  padding: 4px;
}
.error-btn{
  width: 100%;
}
.error-d .item{
  padding: 10px;
  width: 100%;
}
.error-d .item-name h3{
  font-size: 28px;
}
.error-d .item-d{
  font-size: 19px;
  padding: 5px;
}

@media only screen and (max-width: 768px) {

  .main-sidebar, .sidebar-2{
    display:none;
  }
  .content{
    width: 100%;
  }
  .item{
    height:auto;
    width:100%;
  }
  .menu-section{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    width: 70%;
  }
  .main-content, .layout-container{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }
  .layout-container{
    width:100%;
  }
  .content-block{
    width: 100%;
  }
  #main-1, #main-2{
    width:90%;
  }
  .content-block{
    height:auto;
    margin-bottom: 30px;
    width: 96%;
    text-align: center;
  }
  .content-img{
    height: 70%;
  }
  .content-img img{
    height:100%;
  }
  .subcontent .title{
    width: 80%;
  }
  .subcontent .title h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    text-shadow: none;
    padding: 3px 10px;
    font-size: 25px;
    text-align: center;
  }
  #job .item-img{
    width: 100%;
    height: 80%;
  }
  #careers{
    height:auto;
  }
  .comserv-img{
    width: 100%;
    position:relative;
    left: 10%;
  }
  .item{
    width: 100%;
  }
}
